table, td, tr{
  border:black 1px solid;
  padding: 10px;
}

td:first-letter {
    text-transform: uppercase;
    
}

.controls #help-block{
	color: red;
}

.card-container{
	height: 330px;
	margin: 80px 0 0 80PX!important;
}

.left-container{
	float:left;
	width:50%
}
.right-container{
	float:right;
	width:50%
}
.left-container > p,
.right-container > p
{
color: lightgray;
}

.left-container img,
.right-container img{
	border: black solid thin;
	width:400px
}
.bottom-icon-row{
	width:100px;
	margin-left:-7px
}

.row {
	margin-bottom:100px;
}

.modal-header .close {
	visibility: hidden;
}