@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

body {
  font-family: Roboto;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Roboto;
  font-weight: 300;
}

.navbar-header {
  height: 2px;
}

.navbar-brand {
  padding: 5px 15px 0 15px;
}

.item {
  font-size: 18px;
  margin: 50px 0 0 0;
  
}

.footer {
  margin-top: 100px;
  border-top: 1px solid #f3f3f3; 
  float: left;
}

.footer-inner {
  margin-top: 50px;
}

.row {
	margin-bottom:100px;
}